.grex-round-button {
  font-family: "Montserrat-Light";
  font-weight: bold;
  width: 193px;
  height: 45px;
  color: #292c74;
  padding-top: 9px;
  text-align: center;
  width: -moz-fit-content;
  border-radius: 27.5px;
  border: 2px solid #f5d142;
  cursor: pointer;
}

@media all and (max-width: 992px) {
  .grex-round-button {
    width: 100%;
    font-size: 0.8rem;
  }
}
