.grex-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: black;
  width: 100%;
  opacity: 0.8;
  z-index: 3;
}

.fixed-class-logo {
  margin-top: 35px;
  height: 60px;
}
.fixed-search {
  margin-top: 20px !important;
  margin-right: 150px !important;
}

.comunity-fixed-header {
  margin-left: 64px;
  height: 42px;
  margin-top: 28px;
}

.header-search-icon-mob {
  display: none;
}

@media only screen and (max-width: 768px) {
  .fixed-class-logo {
    height: auto;
    margin-left: 16px;
    margin-top: 42px;
    width: 120px;
  }
  .fixed-search {
    display: none;
  }
  .header-search-icon-mob {
    display: block;
    margin-top: 25px;
    margin-left: 15%;
    cursor: pointer;
  }
  .comunity-fixed-header {
    display: none;
  }
}
