.main {
  height: 80vh !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  padding: 0%;
  margin-top: 101px;
  margin-top: -11px !important;
}

@media screen and (max-width: 768px) {
  .main {
    height: 100% !important;
    /* padding-top: 74px !important; */
  }
}
