.calling-div {
  text-align: center;
  height: 300px;
  margin: auto;
  padding-top: 60px;
}
.calling-number {
  font-family: "Montserrat-Light";
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.04;
  letter-spacing: normal;
  text-align: center;
  color: #062f6e;
}
