.form-modal {
  border-radius: 10% !important;
  font-family: "Montserrat-Regular";
}

.form-modal-header {
  color: #292c74 !important;
  background-color: #f5c513 !important;
  height: 20% !important;
  text-align: center;
  font-family: "Abel-Regular";
  padding: 2%;
  font-size: 30px;
}

.form-modal-left {
  padding: 10%;
  border-right: 1px solid #292c74;
  text-align: center !important;
}

.form-modal-right {
  padding: 10%;
  text-align: center !important;
}

.form-modal-input {
  border-radius: 20px !important;
  margin: 5% 0%;
  height: 50%;
}

.form-modal-button {
  background-color: #f5c513 !important;
  color: #292c74 !important;
  padding: 2% 10% !important;
  border-radius: 20px !important;
  align-self: center !important;
}
.form-modal-button:hover {
  background-color: #292c74 !important;
  color: #f5c513 !important;
}
