.addressText h3 {
  padding: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-LightItalic" !important;
}

.addressText h4 {
  color: #292c74;
  font-family: "abel-regular";
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 38px;
}
.mapRow {
  min-height: 350px;
  height: 100%;
  background-color: #f5c513 !important;
}
.mapView iframe {
  height: 100%;
}

@media all and (min-width: 768px) {
  .mapRow {
    height: 40vh;
    background-color: #f5c513 !important;
  }
}
@media all and (max-width: 420px) {
  .mapView iframe {
    height: 52vh;
  }
  .addressText h4 {
    font-size: 18px;
  }
}
