.header-phone {
	width: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-phone a {
	width: 35px;
	display: block;
	padding: 5px;
	border-radius: 50%;
	height: 35px;
	/* color: #fff;
  background: #292c74; */
	border: 2px solid #f5c513;
	background: #fff;
}
a,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}
