.requirement-form {
  padding-left: 60px;
  padding-right: 60px;
}
.input-text {
  /*  box-shadow: inset 1.6px 1.2px 7px 0 rgba(0, 0, 0, 0.35); */
  background: white;
  margin-bottom: 10px;
}
.custom-dialog {
  top: 15%;
}
.error-text {
  color: red;
}
.sched-suc-modal-h {
  font-size: 46px;
}
.sched-suc-modal-b {
  font-size: 25px;
}

@media all and (max-width: 480px) {
  .requirement-form {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}
