.formCard {
	background-color: rgb(255, 255, 255) !important;
	padding-bottom: 17px !important;
}

/* .welcome-wrapper {
  padding-top: 20vh;
  padding-left: 5vw;
} */
.welcome {
	vertical-align: middle;
	width: 90%;
	margin: auto;
	text-align: center;
	color: #e2e2e2 !important;
	font-size: 44px !important;
	font-family: "abel-regular";
	font-weight: 400;
	animation-name: fadeInUp;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.living-spaces {
	color: #f5c513 !important;
}

.subWelcome {
	color: #ffffff;
	font-family: "abel-regular";
	line-height: 30px;
	font-size: 18px !important;
	text-align: center;
	padding-top: 10px;
}

.centerText h1 {
	color: #f5c513;
	font-size: 44px !important;
	font-family: "abel-regular";
	padding-left: 20px;
}

.centerText h4 {
	padding-left: 20px;
	color: #ffffff;
	font-family: "abel-regular";
	padding-top: 10px;
	font-size: 22px !important;
	line-height: 30px;
}
@media (max-width: 767px) {
	.CoverRow {
		margin: 0;
	}
}
