.formCard {
  background-color: rgb(255, 255, 255) !important;
  padding-bottom: 17px !important;
}

/* .welcome-wrapper {
  padding-top: 20vh;
  padding-left: 5vw;
} */
.welcome {
  vertical-align: middle;
  width: 90%;
  margin: auto;
  text-align: center;
  color: #e2e2e2 !important;
  font-size: 44px !important;
  font-family: "abel-regular";
  font-weight: 400;
  animation-name: fadeInUp;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.living-spaces {
  color: #f5c513 !important;
}

.subWelcome {
  color: #ffffff;
  font-family: "abel-regular";
  line-height: 30px;
  font-size: 18px !important;
  text-align: center;
  padding-top: 10px;
}

.centerText h1 {
  color: #f5c513;
  font-size: 49px !important;
  font-family: "abel-regular";
  padding-left: 20px;
}

.centerText h4 {
  padding-left: 20px;
  color: #ffffff;
  font-family: "abel-regular";
  padding-top: 10px;
  font-size: 22px !important;
  line-height: 30px;
}
@media (max-width: 767px) {
  .CoverRow {
    margin: 0;
  }
  .centerText h4 {
    font-size: 18px !important;
    line-height: 25px;
  }
}
.fixed-button-container {
  padding: 10px 20px;
  background: #fff;
  position: fixed;
  bottom: -2px;
  width: 100%;
  margin: 0 -15px;
  z-index: 1000;
}
.fixed-anim {
  animation: goUp 0.6s ease-in-out;
  animation-iteration-count: 1;
}
.fixed-button-container .fixed-button {
  border: 2px solid #292c74;
  border-radius: 7px;
  text-decoration: none;
}
.fixed-button-container a,
.fixed-button-container a:hover,
.fixed-button-container a:active {
  text-decoration: none;
  color: #292c74;
}
@keyframes goUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.fixed-button-container .fixed-button:hover,
.fixed-button-container .fixed-button:active {
  background: initial;
  text-decoration: none;
  color: #292c74;
}
@media screen and (min-width: 768px) {
  .CoverRow .centerText h1 {
    margin: 60px 0 23px;
    font-size: 1.2rem;
  }
}
