.main {
	margin-top: 68px;
	height: calc(100vh - 100px);
}
.main h1 {
	font-size: 20px;
	width: 100%;
}
.main h4 {
	font-size: 17px;
	font-weight: 350;
	width: 100%;
}
.main .formCard {
	border-radius: 7px;
	font-size: 1.5rem;
	margin: 20px 0 30px;
	color: #292c74;
	padding: 35px 20px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.main .formCard input::placeholder {
	font-size: 14px;
}
.main .formCard .invalid-feedback,
.main .formCard .error-text {
	font-size: 13px;
	margin-top: 10px;
}
.main .formCard .error-text {
	margin: 20px 0;
}
.main .formCard .formHeader {
	font-size: 19px;
}
@media screen and (min-width: 768px) {
	.main .formCard {
		border-radius: 7px;
		color: #292c74;
		margin: 30px 20px;
		padding: 35px 30px 0;
	}
	.main .formCard .formHeader {
		font-size: 26px;
	}
	.main .centerText {
		padding: 0 30px 0 0;
	}
}
@media screen and (min-width: 991px) {
	.main .formCard {
		max-width: 350px;
		margin-left: auto;
	}
}
.loader {
	border: 7px solid #f3f3f3;
	border-radius: 50%;
	border-top: 7px solid #f5c513;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 1.5s linear infinite;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
}
@keyframes spin {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}
